# Arquivos e Diretórios a Ignorar
*.o
*.obj
*.dll
*.so
*.dylib
*.a
*.lib
main
*.exe
*.out
.vscode/
*.code-workspace
build/
bin/
obj/
out/
CMakeFiles/
CMakeCache.txt
*.tmp
*.temp
*.log
*~
*.bak
*.swp
*.DS_Store